<div class="w-screen">
  <div class="relative">
    <!-- Wave Background -->
    <!-- opacity 100 -->
    <div class="w-full top-2 start-0">
      <img src="./assets/img/wave100.svg" alt="" />
    </div>
    <!-- opacity 30 -->
    <div class="absolute w-full top-2 start-0">
      <img src="./assets/img/wave30.svg" alt="" />
    </div>
    <!-- opacity 60 -->
    <div class="absolute w-full top-2 start-0">
      <img src="./assets/img/wave60.svg" alt="" />
    </div>
    <!-- opacity 100 -->
    <div class="w-full bottom-2 start-0">
      <img src="./assets/img/wave100.svg" alt="" class="rotate-180" />
    </div>
    <!-- opacity 30 -->
    <div class="absolute w-full bottom-2 start-0">
      <img src="./assets/img/wave30.svg" alt="" class="rotate-180" />
    </div>
    <!-- opacity 60 -->
    <div class="absolute w-full bottom-2 start-0">
      <img src="./assets/img/wave60.svg" alt="" class="rotate-180" />
    </div>
  </div>
</div>
