<section>
  <div class="relative isolate px-6 pt-16 lg:px-8">
    <!-- burbujas -->
    <div
      class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
      aria-hidden="true"
    >
      <div
        class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
        style="
          clip-path: polygon(
            74.1% 44.1%,
            100% 61.6%,
            97.5% 26.9%,
            85.5% 0.1%,
            80.7% 2%,
            72.5% 32.5%,
            60.2% 62.4%,
            52.4% 68.1%,
            47.5% 58.3%,
            45.2% 34.5%,
            27.5% 76.7%,
            0.1% 64.9%,
            17.9% 100%,
            27.6% 76.8%,
            76.1% 97.7%,
            74.1% 44.1%
          );
        "
      ></div>
    </div>

    <div
      [class.opacity-0]="isContentHidden"
      class="mx-auto grid md:grid-cols-1 items-center gap-x-8 gap-y-16 px-4 py-24 sm:px-6 sm:py-16 lg:grid-cols-2 lg:px-8 transition-opacity duration-500"
    >
      <div>
        <div class="text-start">
          <h1
            class="text-balance text-5xl font-semibold tracking-tight text-gray-900 dark:text-white"
          >
            {{ selectedTest.name }}
          </h1>
          <div
            class="max-h-[200px] overflow-y-auto scrollbar-thin scrollbar-thumb-indigo-600 scrollbar-track-transparent p-4 rounded-md mt-8"
          >
            <p
              class="text-pretty text-lg font-medium text-gray-500 sm:text-xl/8 dark:text-gray-300"
            >
              {{ selectedTest.text }}
            </p>
          </div>
          <div class="relative mt-10 flex items-center">
            <!-- Botón Izquierdo -->
            <button
              (click)="scrollLeft()"
              class="absolute left-0 z-10 p-2 bg-gray-800 text-white rounded-full"
            >
              <i class="fa-solid fa-angle-left"></i>
            </button>

            <!-- Contenedor de las Etiquetas -->
            <div
              #tagsContainer
              class="flex items-center gap-x-6 overflow-x-auto scrollbar-hide p-10"
            >
              <div
                class="inline-flex items-center rounded-full px-4 py-1 font-medium text-white whitespace-nowrap transition ease-in-out hover:-translate-y-1 hover:scale-110 hover:cursor-default"
                [ngClass]="tool.color"
                *ngFor="let tool of selectedTest.tags"
              >
                <i
                  *ngIf="tool.icon"
                  [class]="tool.icon"
                  class="mr-2 scale-125"
                ></i>
                {{ tool.text }}
              </div>
            </div>

            <!-- Botón Derecho -->
            <button
              (click)="scrollRight()"
              class="absolute right-0 z-10 p-2 bg-gray-800 text-white rounded-full"
            >
              <i class="fa-solid fa-angle-right"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="w-full h-full">
        <div class="flex flex-col items-center gap-2">
          <img
            src="./assets/img/projects/{{
              selectedTest.img[currentImageIndex]
            }}"
            class="h-[500px] transition-opacity duration-1000 ease-in-out"
            [class.opacity-0]="fadeIn"
          />
          <img src="./assets/img/circles.svg" />
        </div>
      </div>
    </div>

    <!-- burbujas -->
    <div
      class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
      aria-hidden="true"
    >
      <div
        class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
        style="
          clip-path: polygon(
            74.1% 44.1%,
            100% 61.6%,
            97.5% 26.9%,
            85.5% 0.1%,
            80.7% 2%,
            72.5% 32.5%,
            60.2% 62.4%,
            52.4% 68.1%,
            47.5% 58.3%,
            45.2% 34.5%,
            27.5% 76.7%,
            0.1% 64.9%,
            17.9% 100%,
            27.6% 76.8%,
            76.1% 97.7%,
            74.1% 44.1%
          );
        "
      ></div>
    </div>
  </div>
</section>
