<!-- Footer Section -->
<section class="w-screen">
  <div class="relative">
    <!-- Wave Background -->
    <div class="w-full top-1 start-0">
      <img src="./assets/img/wave100.svg" alt="" />
    </div>
    <div class="absolute w-full top-1 start-0">
      <img src="./assets/img/wave30.svg" alt="" />
    </div>
    <div class="absolute w-full top-1 start-0">
      <img src="./assets/img/wave60.svg" alt="" />
    </div>
    <!-- Footer content -->
    <footer class="relative bg-[#4f46e5] text-white py-5">
      <div class="container mx-auto px-6">

        <!-- <hr class="my-14"> -->

        <!-- Footer Bottom Text -->
        <div class="container">
          <div class="grid gap-10 md:grid-cols-3 justify-center items-center text-center">

            <!-- Logo -->
            <div class="flex justify-center">
              <img src="./assets/img/logo-light.png" class="w-52 hover:scale-125 transition ease-in-out hover:-translate-y-1 cursor-pointer" routerLink=''>
            </div>

            <!-- Useful links -->
            <!-- <div>
              <h3 class="text-white text-xl font-medium mb-9 ">Useful links</h3>
              @for (item of itemsMenu; track $index) {
                <h4 class="text-offwhite text-md font-normal mb-6 hover:scale-125 transition ease-in-out hover:-translate-y-1 hover:text-indigo-400 cursor-pointer"         [routerLink]="item.path">
                  {{item.text}}
                </h4>
              }
            </div> -->

            <!-- Contact us -->
            <div>
              <h3 class="text-white text-xl font-medium mb-9 ">Contact Us</h3>
              <h4 class="text-offwhite text-md font-normal mb-6 hover:scale-125 transition ease-in-out hover:-translate-y-1 hover:text-indigo-400 cursor-pointer">
                <i class="fa-solid fa-envelope text-xl mr-1"></i>
                {{'vslivecode@gmail.com'}}
              </h4>
              <h4 class="text-offwhite text-md font-normal mb-6 hover:scale-125 transition ease-in-out hover:-translate-y-1 hover:text-indigo-400 cursor-pointer">
                <a href="https://wa.me/573244589511?text=¡Hola!%20Estoy%20interesado%20en%20tus%20servicios" target="_blank" rel="noopener noreferrer">
                  <i class="fa-brands fa-whatsapp text-xl mr-1"></i>
                  (+57) 324 4589511
                </a>
              </h4>
              <h4 class="text-offwhite text-md font-normal mb-6 hover:scale-125 transition ease-in-out hover:-translate-y-1 hover:text-indigo-400 cursor-pointer">
                <a href="https://www.linkedin.com/in/livecode2024/" target="_blank">
                  <i class="fa-brands fa-linkedin text-xl mr-1"></i>
                  Live Code
                </a>
              </h4>
              <h4 class="text-offwhite text-md font-normal mb-6 hover:scale-125 transition ease-in-out hover:-translate-y-1 hover:text-indigo-400 cursor-pointer">
                <a href="https://github.com/dev-LiveCode" target="_blank">
                  <i class="fa-brands fa-github text-xl mr-1"></i>
                  dev-LiveCode
                </a>
              </h4>
            </div>

            <!-- Powered by -->
            <div >
              <h3 class="text-white text-xl font-medium mb-9 ">Powered by</h3>

              <div class="w-full flex justify-center items-center">
                <a href="https://tailwindcss.com/" target="_blank" class="mr-4">
                  <img src="./assets/img/faviconTailwind.ico" class="hover:scale-125 transition ease-in-out hover:-translate-y-1 cursor-pointer">
                </a>
                <a href="https://angular.dev/" target="_blank" class="mr-4">
                  <img src="./assets/img/faviconAngular.ico" class="hover:scale-125 transition ease-in-out hover:-translate-y-1 cursor-pointer">
                </a>
                <a href="https://aws.amazon.com/es/" target="_blank">
                  <img src="./assets/img/aws.svg" class="hover:scale-125 w-[60px] transition ease-in-out hover:-translate-y-1 cursor-pointer ">
                </a>
              </div>

            </div>
          </div>
          <div class="text-center mt-10">
            <h3 class="text-2xl font-bold">Let's build from here!</h3>
          </div>
        </div>
      </div>
    </footer>
  </div>
</section>
